<%- include('includes/head.ejs') %>

</head>

<body>
<main>
    <div class="container">

        <!-- Top Title Registration Part 1 Page -->
        <%- include('includes/topForm.ejs') %>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <form class="form-floating" action="/users/register" method="POST">

                    <!-- Email Registration input -->
                    <div class="form-floating mb-4">
                        <input type="email" id="emailRegister" name="emailRegister" class="form-control" placeholder="Email address" minlength="3" maxlength="32" value="<%= registerData.userEmail %>" required>
                        <label for="floatingInputValue">Email address</label>
                    </div>

                    <!-- First Name Registration input -->
                    <div class="form-floating mb-4">
                        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" minlength="3" maxlength="32" pattern="[a-zA-Z]+( [a-zA-Z]+)*$"  value="<%= registerData.userFirstName %>" required>
                        <label for="floatingInputValue">First Name</label>
                    </div>

                    <!-- Last Name Registration input -->
                    <div class="form-floating mb-4">
                        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" minlength="3" maxlength="32" pattern="[a-zA-Z]+( [a-zA-Z]+)*$" value="<%= registerData.userLastName %>" required>
                        <label for="floatingInputValue">Last Name</label>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <!-- Submit Part 1 Register button so "NEXT" to part 2-->
                        <button type="submit" class="btn btn-primary btn-block d-grid gap-2 mx-auto" >Next</button>
                    </div>

                    <!-- Move to Login button -->
                    <div class="text-center">
                        <p><br>Already registered? go to <a href="/">login</a> page</p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<%- include('includes/end.ejs') %>